header {
  text-align: center;
  height: 40px;
  background-color: skyblue;
}

footer {
  border-top: 1px dotted #888;
  font-size: 12px;
  text-align: center;
  color: gray;
}

.table {
  font-size: 8px;
}